@model primeraAplicacion.Models.Perro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Perro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="perroID" />
            <div class="form-group">
                <label asp-for="nama" class="control-label"></label>
                <input asp-for="nama" class="form-control" />
                <span asp-validation-for="nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raza" class="control-label"></label>
                <input asp-for="raza" class="form-control" />
                <span asp-validation-for="raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vaccine" class="control-label"></label>
                <input asp-for="vaccine" class="form-control" />
                <span asp-validation-for="vaccine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ownerName" class="control-label"></label>
                <input asp-for="ownerName" class="form-control" />
                <span asp-validation-for="ownerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label"></label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <select asp-for="OwnerID" class="form-control" asp-items="ViewBag.OwnerID"></select>
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
