<h1>Tabla de datos</h1>
@{
    ViewData["Title"] = "Tabla";
}

<div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Registro de perros</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                            <tr>
                                                <th> Perro ID  </th>
                                                <th> Nombre  </th>
                                                <th> Raza  </th>
                                                <th> Edad  </th>
                                                <th> Vacunas  </th>
                                                <th> Nombre Dueño  </th>
                                                <th> Telefono</th>                                                
                                            </thead>
                                          <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>Luna</td>
                                                <td>Labrador</td>
                                                <td>2 años</td>
                                                <td>Si</td>
                                                <td>Amanda Martinez</td>
                                                <td>2669-4514</td>
                                                
                                               </tr>
                                                <tr>
                                                    <td>002</td>
                                                <td>Maya</td>
                                                <td>Lebrel</td>
                                                <td>3 años</td>
                                                <td>Si</td>
                                                <td>Gloria Hernandez</td>
                                                <td>2564-2484</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>003</td>
                                                <td>Bruno</td>
                                                <td>Lakeland</td>
                                                <td>1 años </td>
                                                <td>No</td>
                                                <td>Luis Quintanilla</td>
                                                <td>2848-5475</td>
                                            </tr>
                                            <tr>
                                                <td>004</td>
                                                <td>Max</td>
                                                <td>Lebrel escocés</td>
                                                <td>4 años </td>
                                                <td>Si</td>
                                                <td>Armando Guardado</td>
                                                <td>2624-2567</td>
                                            </tr>
                                            <tr>
                                                <td>005</td>
                                                <td>Rocky</td>
                                                <td>Mastín inglés</td>
                                                <td>5 años</td>
                                                <td>Si</td>
                                                <td>Alfredo Zelaya</td>
                                                <td>2648-2485</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

           

        </div>